<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUser" value="respace.noreply@gmail.com" />
		<add key="SmtpPass" value="uhjjqlafnhavxytg" />
		<add key="SmtpFrom" value="respace.noreply@gmail.com" />
		<add key="SmtpEnableSsl" value="true" />

		
		<add key="OtpSecret" value="mP9#2zvQ!7kL_Respace_OTP_2026$A1x" />

		
		<add key="OtpExpiryMinutes" value="10" />

	
		<add key="OtpCooldownSeconds" value="60" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
	</system.web>

	<connectionStrings>
		<add name="RespaceDb"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RespaceDb;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp"
					  extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:1659;1699;1701" />

			<compiler language="vb;vbs;visualbasic;vbscript"
					  extension=".vb"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<system.webServer>
		<staticContent>
			<remove fileExtension=".png" />
			<remove fileExtension=".gif" />
			<remove fileExtension=".webp" />
			<remove fileExtension=".svg" />

			<mimeMap fileExtension=".png" mimeType="image/png" />
			<mimeMap fileExtension=".gif" mimeType="image/gif" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>

</configuration>
